@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container text-center mt-5">
    <img src="~/img/1-P.jpg" alt="Descubre el lujo sobre ruedas" class="img-fluid rounded-circle shadow" style="max-width: 300px;">
</div>
<div>
    <br />
    <hr />
</div>
<header class="bg-dark text-white text-center py-5">
    <h1 class="display-4">Bugatti: La Excelencia en Automóviles</h1>
    <p class="lead">Descubre el pináculo del rendimiento y la elegancia.</p>
</header>

<section class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <img src="~/img/3-P.jpg" alt="Bugatti" class="img-fluid rounded shadow">
        </div>
        <div class="col-md-6">
            <h2>Modelo Bugatti XYZ</h2>
            <p>Experimenta la combinación perfecta de potencia y lujo con nuestro modelo Bugatti XYZ. Diseñado para los amantes de la velocidad y la sofisticación, este automóvil redefine la experiencia de conducción.</p>
            <p>Características destacadas:</p>
            <ul>
                <li>Rendimiento excepcional</li>
                <li>Diseño aerodinámico</li>
                <li>Interior de lujo personalizable</li>
                <li>Tecnología de vanguardia</li>
            </ul>
            <p class="lead">¡Haz tu sueño realidad! Conduce un Bugatti hoy.</p>
            <a href="#" class="btn btn-primary">Más detalles</a>
        </div>
    </div>
</section>

<


