@page
@model ProyectoVentaVehiculos.Pages.VehiculosModel
@{
}
<header class="bg-dark text-white text-center py-5">
    <h1 class="display-4">Descubre la Gama de Vehículos Bugatti</h1>
    <p class="lead">Rendimiento excepcional y diseño incomparable.</p>
</header>

<section class="container my-5">
    <div class="row">
        <!-- Bugatti Veyron -->
        <div class="col-md-6">
            <img src="~/img/5-P.jpeg" alt="Vehículos Bugatti" class="img-fluid rounded shadow">
        </div>
        <div class="col-md-6">
            <h2>Bugatti Veyron</h2>
            <p>El Bugatti Veyron es una obra maestra de la ingeniería y el diseño. Con un motor W16 y una velocidad máxima impresionante, redefine lo que es posible en un automóvil de producción.</p>
            <p>Características destacadas:</p>
            <ul>
                <li>Motor W16 con más de 1,000 HP</li>
                <li>Velocidad máxima de 400 km/h</li>
                <li>Diseño aerodinámico y elegante</li>
                <li>Interior lujoso y personalizable</li>
            </ul>
            <p class="lead">Experimenta el pináculo del rendimiento con el Bugatti Veyron.</p>
            <a href="#" class="btn btn-primary">Ver Detalles</a>
        </div>
    </div>
</section>

<section class="container my-5">
    <div class="row">
        <!-- Bugatti Chiron -->
        <div class="col-md-6">
            <h2>Bugatti Chiron</h2>
            <p>El Bugatti Chiron lleva la herencia de velocidad y lujo a nuevas alturas. Con tecnología de vanguardia y un diseño impresionante, cada detalle se ha perfeccionado para ofrecer una experiencia de conducción única.</p>
            <p>Características destacadas:</p>
            <ul>
                <li>Motor Quad-Turbo W16</li>
                <li>Velocidad máxima de más de 420 km/h</li>
                <li>Sistema de frenos avanzado</li>
                <li>Interior personalizado con materiales de primera calidad</li>
            </ul>
            <p class="lead">Descubre el rendimiento sin compromisos con el Bugatti Chiron.</p>
            <a href="#" class="btn btn-primary">Ver Detalles</a>
        </div>
        <div class="col-md-6">
            <img src="~/img/6-P.jpeg" alt="Vehículos Bugatti" class="img-fluid rounded shadow">
        </div>
    </div>
</section>
